{% extends 'base.html' %}

{% block title %} Calendar {% endblock %}

{% block content %}
<div id="content-block" class="content-block container-fluid">
    <div class="row calendar">
        <div class="col">
            <div class="d-flex justify-content-between">
                <div class="flex-column">
                    <h4 class="dashboard-h4">LET'S PLAN TO BE MINDFUL, {{ user.first_name }}!</h4>
                    <h1 id="dashboard-h1">Calendar</h1>
                </div>
            </div>
        </div>
        <div class="col calendar">
            <div class="calendar-container">
                <iframe src="https://calendar.google.com/calendar/embed?src={{calendar_id}}&ctz=America%2FLos_Angeles" style="border: 0" width="880" height="660" frameborder="0" scrolling="no"></iframe>
            </div>       
        </div>
    </div>
</div>
{% endblock %}
