{% extends 'base.html' %}

{% block title %} Mindful | Dashboard {% endblock %}

{% block content %}
<div class="items-header-block">
    <div class="d-flex justify-content-between">
        <div class="flex-column">
            <h4 class="dashboard-h4">LET'S GET MINDFUL, {{ user.first_name }}!</h4>
            <h1 id="dashboard-h1">Your Items</h1>
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <h4 class="dashboard-h4 add-items-anchor">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addItemModal">
            Add Items
            </button></h4>
        </div>
    </div>
</div>

<div id="content-block" class="content-block" style="padding-right: 2.5rem;">
    {% if tracked_items %}

    <!-- TO-DO: Horizontal Scroll Buttons -->
    <!-- <div id="scroll-right-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#5e2bff" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
    </div>
    <div id="scroll-left-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#5e2bff" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
          </svg>
    </div> -->
    
    <div class="img-container">
    {% for item, days_left in tracked_items|zip(deltas) %}  
            <div class="dashboard-img">
                <div class="item-info">
                    {% if not item.plan %}
                        {% if item.return_type != "ineligible" %}
                        <a href="/item/{{item.item_id}}">
                            {% if days_left.days >= 0 %}
                            <div class="info-banner" id="return-info">{{days_left.days}} Days Left To Return </div>
                            {% elif days_left.days == 0 %}
                            <div class="info-banner" id="return-info">Must return this item today! </div>
                            {% else %}
                            <div class="info-banner" id="return-info">Item has passed return window. Make a back-up plan! </div>
                            {% endif %}
                        </a>
                        {% endif %}
                        <a href="/item/{{item.item_id}}">
                            <div class="info-banner" id="status-info">No Plan </div>
                        </a>
                        
                    {% endif %}
                    {% if item.plan %}
                        {% if item.plan[0].action == "Return" %}
                        <a href="/item/{{item.item_id}}">
                            {% if days_left.days >= 0 %}
                            <div class="info-banner" id="return-info">{{days_left.days}} Days Left To Return </div>
                            {% elif days_left.days == 0 %}
                            <div class="info-banner" id="return-info">Must return this item today! </div>
                            {% else %}
                            <div class="info-banner" id="return-info">Item has passed return window. Make a new back-up plan! </div>
                            {% endif %}
                        </a>
                        {% else %}
                        <a href="/item/{{item.item_id}}">
                            <div class="info-banner" id="return-info">Plan in progress </div>
                        </a>

                        {% endif %}
                        <a href="/item/{{item.item_id}}"><div class="info-banner" id="status-info">{{item.plan[0].action}} Plan </div></a>
                    {% endif %}                     
                    <!-- <div class="info-banner" id="price-info">$185.00</div> -->
                </div>
                <a href="/item/{{item.item_id}}" target="_blank"><img class="img-src" src="{{item.images[0].cloudinary_url}}" alt=""></a>
            </div>
    {% endfor %}
    </div>
    {% else %}
    <div class="flex-column" style="height: 100%;">
        <p>Nothing to see here! Add an item to be tracked.</p>
    </div>
    {% endif %} 
    <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addItemModalTitle">Add Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                <form action="/add_item" method="POST" enctype="multipart/form-data" style="width: 100%">
                    <div class="mb-2">
                    <label for="retailer" class="form-label">Retailer </label>
                    <input type="text" class="form-control" name="retailer" id="retailer"required>
                    </div>
                    
                    <div class="mb-2">
                        <label for="brand" class="form-label">Brand </label>
                        <input type="text" class="form-control" name="brand" id="brand" required>
                    </div>

                    <div class="mb-2">
                        <label for="return_deadline" class="form-label">Last day to return item </label>
                        <input type="date" class="form-control" name="return_deadline" id="return_deadline" min="{{today}}" required>
                    </div>

                    <div class="mb-2">
                        <label for="price" class="form-label">Price </label>
                        <input type="number" class="form-control" name="price" id="price" min="0" step="0.01" placeholder="$123.45" required>
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Return Type: </label>
                        <label>In-person</label>
                        <input type="radio" name="return_type" value="in person" required>
                        <label>By Mail</label>
                        <input type="radio" name="return_type" value="by mail" required>
                        <label>Both</label>
                        <input type="radio" name="return_type" value="both" required>
                        <label>Not Returnable</label>
                        <input type="radio" name="return_type" value="ineligible" required>
                    </div>

                    <div class="mb-2">
                    <label class="form-label">Reminders: </label>
                    <label class="form-label">Text</label>
                    <input type="checkbox" name="text" value="text">
                    <label class="form-label">Email</label>
                    <input type="checkbox" name="email" value="email">
                    </div>

                    <div class="mb-2">
                    <label for="returns_url" class="form-label">Returns URL </label>
                    <input type="url" class="form-control" id="returns_url" name="returns_url" placeholder="https://example.com" pattern="https://.*" required>
                    </div>

                    <div class="mb-2">
                    <label for="image" class="form-label">Upload Item Image </label>
                    <input type="file" class="form-control-file" id="image" name="image" required>
                    </div>
                    <div class="d-flex mb-2 mt-2"><button type="submit" class="btn btn-primary" style="width: 100%">Add Item</button></div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

