{% extends 'base.html' %}
<!-- Show top (highest priority) 3 items and top 3 plans -->

{% block title %} Dashboard {% endblock %}
<!-- 
Bootstrap Cards: https://getbootstrap.com/docs/4.3/components/card/ 
Bootstrap Forms: https://getbootstrap.com/docs/4.3/components/forms/
Bootstrap Modal: https://getbootstrap.com/docs/4.3/components/modal/
Bootstrap Alerts: https://getbootstrap.com/docs/4.3/components/alerts/
Bootstrap Progress: https://getbootstrap.com/docs/4.3/components/progress/ 
-->

{% block content %} 
    <h1>Dashboard</h1>
    <h2>Hi, {{ user.first_name }}</h3>
    
    <h4>Items</h4>
    {% if tracked_items %}
    <ul>
        {% for item, days_left in tracked_items|zip(deltas) %}
            <div id="{{item.item_id}}" class="dashboard">
            <img src="{{ item.images[0].cloudinary_url }}" height="400px" width="auto">
            <li><a href="/item/{{item.item_id}}">{{ item }}</a></li>
            <li>Today: {{today}}</li>
            <li>Return Deadline: {{item.return_deadline}}</li>
            {% if days_left.days >= 0 %}
                <li>Days left before return deadline: {{days_left.days}} </li>
                {% if days_left.days == 0 %}
                    <p style="color:red;">Must return this item today!</p>
                {% endif %}
            {% else %}
            <p style="color:red;">Item has passed return window. Make a back-up plan!</p>
            {% endif %}
            </div>
        {% endfor %}
    </ul>
    {% else %}
        <p>Nothing to see here! Add an item to be tracked.</p>
    {% endif %}

    <h4>Plans</h4>
    {% if plans %}
    <ul>
        {% for plan in plans %}
        <li><a href="/plan/{{plan[0].plan_id}}">{{ plan }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Nothing to see here! No active plans!</p>
    {% endif %}

    <h4>Add Items</h4>
    <form action="/add_item" method="POST" enctype="multipart/form-data">
        <div>
        <label for="retailer">Retailer: </label>
        <input type="text" name="retailer" required>
        </div>
        
        <div>
            <label for="brand">Brand: </label>
            <input type="text" name="brand" required>
        </div>
        
        <div>
        <label for="return_window">Return Window Policy (Days): </label>
        <input type="number" name="return_window" required>
        </div>

        <div>
            <label for="return_deadline">Last day to return item: </label>
            <input type="date" name="return_deadline" required>
        </div>

        <div>
            <label>Returns can be made: </label>
            <label>In-person</label>
            <input type="radio" name="return_type" value="in person" required>
            <label>By Mail</label>
            <input type="radio" name="return_type" value="by mail" required>
            <label>Both</label>
            <input type="radio" name="return_type" value="both" required>
        </div>


        <div>
        <label>Reminders: </label>
        <label>Text</label>
        <input type="checkbox" name="text" value="text">
        <label>Email</label>
        <input type="checkbox" name="email" value="email">
        </div>
        
        <div>
        <label for="main_url">Main URL: </label>
        <input type="url" placeholder="https://" pattern="https://.*" name="main_url" required>    
        </div>

        <div>
        <label for="returns_url">Returns URL: </label>
        <input type="url" placeholder="https://" pattern="https://.*" name="returns_url" required>
        </div>

        <div>
            <label for="returns_url">Item URL: </label>
            <input type="url" placeholder="https://" pattern="https://.*" name="item_url" required>
        </div>

        <div>
        <!--
        Accept any file with an image/* MIME type. (Many mobile devices also 
        let the user take a picture with the camera when this is used.)
        * TO-DO: Add "required" after Cloudinary integration
        -->
        <label for="image">Upload Item Images: </label>
        <input type="file" name="image">
        </div>

        
        <div><button type="submit">Add Item</button></div>
    </form>


{% endblock %}

