{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}
<!-- Bootstrap Cards: https://getbootstrap.com/docs/4.3/components/card/ -->
<!-- Bootstrap Forms: https://getbootstrap.com/docs/4.3/components/forms/ -->
<!-- Bootstrap Modal: https://getbootstrap.com/docs/4.3/components/modal/ -->
<!-- Bootstrap Alerts: https://getbootstrap.com/docs/4.3/components/alerts/ -->
<!-- Bootstrap Progress: https://getbootstrap.com/docs/4.3/components/progress/ -->

{% block content %} {% endblock %}