{% extends 'base.html' %}

{% block title %}Item {{ item.item_id }}{% endblock %}

{% block content %}
<div id="item-page" class="content-block container-fluid">
  <div id="item-block" class="container">
    <div class="row gx-5 row-cols-sm-6 row-cols-xs-6 row-cols-md-6 row-cols-lg-12 row-cols-xl-12">
      <div class="col-md">
        <div class="d-flex justify-content-center">
          {% for image in item.images %}
          <img id="item-img" class="item-fluid" src="{{ image.cloudinary_url }}">
          {% endfor %}
        </div>
      </div>
      <div class="col-md">
        <div class="container">
          <div class="btn-group item-buttons" role="group" aria-label="Item Buttons">
            {% if not item.plan %}
            <!-- Create Plan button -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createPlanModal">
            Create Plan
            </button></h4>
            {% endif %}
            {% if not item.sentiments %}
            {% if not item.sentiments or (item.sentiments[-1].date != today) %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#enterReflectionModal">
              Enter Reflection
              </button></h4>
            {% endif %}
            {% endif %}
            
            <!-- Keep Item button -->
            <a class="btn btn-primary" href="/item/{{item.item_id}}/keep" role="button">Keep Item</a>
              
            <!-- Delete Item button -->
            <a class="btn btn-primary" href="/item/{{item.item_id}}/delete" role="button">Delete Item</a>
    
          </div>
          {% if days_left.days >= 0 and (item.return_type != "ineligable") %}
          <div>
            {% if days_left.days == 0 %}
              <h4 style="color:red;">Your return deadline is today!</h4>
            {% endif %}

            {% if days_left.days < 0 %}
              <h4 style="color:red;">Item has passed return window. Make a back-up plan!</h4>
            {% endif %}

            {% if days_left.days > 0 %}
              <h4>Days until return deadline: {{days_left.days}} </h4>
            {% endif %}
          </div>
          {% endif %}
            <!-- Display Reflection Results -->
          <div>
          {% if item.sentiments %}
            <h4>Mindful Analysis</h4>
            
            <p>Based on your 
              {% if item.sentiments|length == 1 %} first journal entry,
              {% else %} previous {{item.sentiments|length}} journal entries,
              {% endif %} you 
              {% if overall_score < 0.50 %} should consider returning this item or create a back-up plan!
              {% elif overall_score < 0.70 %} seem to like the item. Reflect more on this purchase before making a decision!
              {% else %} really enjoy this item! We reccommend keeping it! Way to go!
              {% endif %}
            </p>
          {% endif %}
          </div>
          <div>
            <h4>Details</h4>
            {% if item.retailer %}
              <p>{{ item.retailer.name }}{% if item.brand and (item.brand != item.retailer.name) %}: {{ item.brand }}{% endif %}</p>
            {% endif %}
            <p>${{item.price}}</p>
            {% if days_left.days >= 0 and (item.return_type != "ineligable") %}
            <p>Return Deadline: {{ item.return_deadline }}</p>
            {% endif %}
            <h4>Status: {{ item.decision_status }}</h4>
            {% if item.plan %}
              <h4>Plan: <a href="/plan/{{item.plan[0].plan_id}}">{{ item.plan[0].action }}</a></h4>
            {% endif %}
          </div>          
          {% if not (item.plan and item.sentiments) %}
            <div>
              {% if item.sentiments and item.plan %}
              {% if item.sentiments[-1].date != today %}
              <h4>Item To-Do's: </h4>
              {% endif %}
              {% elif not (item.plan and item.sentiments) %} 
              <h4>Item To-Do's: </h4>
              {% endif %}
              <ul>
                {% if not item.plan %}
                <li>Create a Plan</li>
                {% endif %}
                {% if not item.sentiments %}
                <li>Write a purchase reflection</li>
                {% endif %}
                {% if item.sentiments %}
                {% if item.sentiments[-1].date != today %}
                <!-- Every-Day, twice a week, or weekly (allow user to choose days) -->
                <li>Write a purchase reflection</li>
                {% endif %}
                {% endif %}
              </ul> 
            </div>
          {% endif %}
        </div>
      </div>  
    </div>
  </div>
</div>


<div class="modal fade" id="createPlanModal" tabindex="-1" role="dialog" aria-labelledby="createPlanModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="createPlanModalTitle">Create Plan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

<div class="modal-body">
    <div class="d-flex">
      <form action="/item/{{item.item_id}}/add_plan" method="POST">
        <div>
          <label>Action: </label>
          {% if days_left.days >= 0 and (item.return_type != "ineligable") %}
            <label>Return</label>
            <input type="radio" name="action" value="Return" required>
          {% endif %}
          <label>Donate</label>
          <input type="radio" name="action" value="Donate" required>
          <label>Gift</label>
          <input type="radio" name="action" value="Gift" required>
          <label>Resell</label>
          <input type="radio" name="action" value="Resell" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Plan</button>
      </form>
    </div>
  </div>
  </div>
</div>
</div>

<div class="modal fade" id="enterReflectionModal" tabindex="-1" role="dialog" aria-labelledby="enterReflectionModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="enterReflectionModalTitle">Enter Reflection</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>

      <div class="modal-body">
        <div class="d-flex">
          <form action="/item/{{item.item_id}}/enter_reflection" method="POST">
            <div>
              <label for="reflection">Write a short reflection (30-500 characters) on your purchase. Are you
                happy that you bought the item, or are you undecided? Is the item what you expected? Have you tried
                on the item? How does the item fit? How much use will you get out of this item? Is the item worth
                the price you paid? How satisfied are you with the purchase?</label>
              <textarea id="reflection" name="reflection" rows="4" cols="50" minlength="30" maxlength="500" required></textarea>  
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}