{% extends 'base.html' %}

{% block title %}Item {{ item.item_id }}{% endblock %}

{% block content %} 
  <!-- Bootstrap Carousel: https://getbootstrap.com/docs/4.3/components/carousel/ -->
  <h1>Item {{ item.item_id }}</h1>
  {% for image in item.images %}
    <img src="{{ image.cloudinary_url }}" height="400px" width="auto">
  {% endfor %}
  
  <div>
  <h2>Details</h2>
  </div>


  <div>
  <h3>Add Details</h3>
  <form action="/item/{{item.item_id}}/add_detail" method="POST">
    <label for="alpha_size">Size: </label>
    <select name="alpha_size">
        <option value="XS">XS</option>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
    </select>
    <label for="int_size">Size: </label>
    <input type="number" name="int_size">

    <label for="care">Care: </label>
    <label>Machine Wash</label>
    <input type="radio" name="care" value="machine washable">
    <label>Hand Wash</label>
    <input type="radio" name="care" value="hand wash">
    <label>Dryclean Only</label>
    <input type="radio" name="care" value="dryclean only">
    
    <div>
    <label>Materials: </label>
    <label>Cotton</label><input type="checkbox" name="cotton" value="cotton">
    <label>Wool</label><input type="checkbox" name="wool" value="wool">
    <label>Leather</label><input type="checkbox" name="leather" value="leather">
    <label>Faux Leather</label><input type="checkbox" name="faux_leather" value="faux leather">
    <label>Elastane</label><input type="checkbox" name="elastane" value="elastane">
    <label>Polyester</label><input type="checkbox" name="polyester" value="polyester">
    <label>Acrylic</label><input type="checkbox" name="acrylic" value="acrylic">
    <label>Viscose</label><input type="checkbox" name="viscose" value="viscose">
    <label>Silk</label><input type="checkbox" name="silk" value="silk">
    <label>Cashmere</label><input type="checkbox" name="cashmere" value="cashmere">
    </div>
    
    <button type="submit">Add Item Details</button>
  </form>
  </div>
  
  <div>
  <h3>Add Plan</h3>
  <form action="/item/{{item.item_id}}/add_plan" method="POST">
    <label>Action: </label>
    <label>Return</label>
    <input type="radio" name="action" value="return">
    <label>Keep</label>
    <input type="radio" name="action" value="keep">
    <label>Donate</label>
    <input type="radio" name="action" value="donate">
    <label>Gift</label>
    <input type="radio" name="action" value="gift">
    <label>Resell</label>
    <input type="radio" name="action" value="resell">

    <button type="submit">Add Plan</button>
  </form>
  </div>

{% endblock %}