{% extends 'base.html' %}

{% block title %} Login {% endblock %}
{% block navbar %} {% endblock %}

{% block content %} 
<div id="login-page">
  <div class="container">
    <h1>Welcome to Mindful</h1>
    <div>
      <form action="/create_account" method="POST">
        <div class="mb-3"><h2>Create an Account</h2></div>
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" name="firstName" id="firstName" maxlength="20" required>
          </div>
          <div class="mb-3">
            <label for="mobileNumber" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" name="mobileNumber" id="mobileNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890" required>
            <div id="mobileNumberHelp" class="form-text">Enter your US-based mobile number for account verification.</div>
          </div>
          <div>
            <label for="channel">Verification method:</label>
            <label><input type="radio" name="channel" value="sms" checked required/> SMS  </label>
            <label><input type="radio" name="channel" value="call" /> Call</label>
          </div>
          <div>
            <label for="createEmail" class="form-label">Email Address</label>
            <input type="email" class="form-control" name="createEmail" id="createEmail" required>
          </div>
          <div class="mb-3">
            <label for="createPassword" class="form-label">Password</label>
            <input type="password" class="form-control" name="createPassword" id="createPassword" required>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" name="rememberMe" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember Me</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div>
      <form action="/login" method="POST">
        <div class="mb-3"><h2>Sign In</h2>
          <label for="userEmail" class="form-label">Email Address</label>
          <input type="email" class="form-control" name="userEmail" id="userEmail">
        </div>
        <div class="mb-3">
          <label for="userPassword" class="form-label">Password</label>
          <input type="password" class="form-control" name="userPassword" id="userPassword">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="rememberUser">
          <label class="form-check-label" name="rememberUser" for="rememberUser">Remember Me</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div>
      <div id="g_id_onload"
      data-client_id="{{client_id}}"
      data-login_uri="http://localhost:5000/tokensignin"
      data-auto_prompt="false"
      data-auto_select="true">
      </div>
      <div class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left">
      </div>
    </div>
  </div>  
</div>

  <!-- <h2>Create an Account</h2>
  <form action="/create_account" method="POST">
    <p>
      First Name: <input type="text" name="first_name" required>
    </p>
    <p>
      Email: <input type="text" name="email" required>
    </p>

    <p>
      Password: <input type="password" name="password" required>
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email: <input type="text" name="email" required>
    </p>

    <p>
      Password: <input type="password" name="password" required>
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
  <div id="g_id_onload"
  data-client_id="{{client_id}}"
  data-login_uri="/tokensignin"
  data-auto_prompt="false"
  data-auto_select="true">
  </div>
  <div class="g_id_signin"
  data-type="standard"
  data-size="large"
  data-theme="outline"
  data-text="sign_in_with"
  data-shape="rectangular"
  data-logo_alignment="left">
  </div>
</div> -->
{% endblock %}