{% extends 'base.html' %}

{% block title %} Login {% endblock %}
{% block navbar %} {% endblock %}

{% block content %} 

<h1>Welcome to Mindful</h1>


<h2>Create an Account</h2>
<form action="/create_account" method="POST">
  <p>
    First Name: <input type="text" name="first_name" required>
  </p>
  <p>
    Email: <input type="text" name="email" required>
  </p>

  <p>
    Password: <input type="password" name="password" required>
  </p>

  <p>
    <input type="submit">
  </p>
</form>

<h2>Log In</h2>
<form action="/login" method="POST">
  <p>
    Email: <input type="text" name="email" required>
  </p>

  <p>
    Password: <input type="password" name="password" required>
  </p>

  <p>
    <input type="submit">
  </p>
</form>
<div id="g_id_onload"
data-client_id="{{client_id}}"
data-login_uri="/tokensignin"
data-auto_prompt="false"
data-auto_select="true">
</div>
<div class="g_id_signin"
data-type="standard"
data-size="large"
data-theme="outline"
data-text="sign_in_with"
data-shape="rectangular"
data-logo_alignment="left">
</div>
{% endblock %}