{% extends 'base.html' %}

{% block title %}Plan {{ plan.plan_id }}{% endblock %}

{% block content %}
<h1>My plan for <a href="/item/{{item.item_id}}">Item {{ item.item_id }}</a></h1>
{% for image in item.images %}
  <img src="{{ image.cloudinary_url }}" height="400px" width="auto">
{% endfor %}

<div>
<h2>Details</h2>
{% if item.retailer %}
<p id="retailer_name">{{ item.retailer.name }}</p>
{% endif %}
<p>
{% if item.brand and (item.brand != item.retailer.name) %}
  {{ item.brand }}
{% endif %}
</p>

<p>Return Deadline: {{ item.return_deadline }}</p>
<p>{% if item.size %}Size: {{ item.size }} {% endif %}</p>
<p>{% if item.care %}Care: {{ item.care }} {% endif %}</p>
<p>{% if item.materials %}Materials: {{ item.materials }} {% endif %}</p>
</div>

<div>
<h4>Staus: {{ item.decision_status }}</h4>
<h4>Plan: {{ plan.action }}</h4>
</div>

{% if (item.return_type == 'by mail') or (item.return_type == 'both') %}
<h4>Request a shipping label for mail-back return <a href="{{item.retailer.returns_url}}">here</a></h4>
{% endif%}

{% if (item.return_type == 'in store') or (item.return_type == 'both') %}
<h4>Locations for in-store returns</h4>
<div id="map" style="height: 600px; width: 600px;"></div>
{% endif %}

<script src="/static/js/gmaps.js"></script>
<script
  async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChsFlCfejMUEhfUHqxLcwYtx2-Uxbeiag&libraries=places&callback=initMap">
</script>
{% endblock %}