{% extends 'base.html' %}

{% block title %}
Plan {{ plan.plan_id }} | {{item.retailer.name}}{% if item.brand and (item.brand != item.retailer.name) %} {{item.brand}}{% endif %}
{% endblock %}

{% block content %}
<div id="item-page" class="content-block container-fluid">
  <div id="item-block" class="container">
    <div class="row gx-5 row-cols-sm-6 row-cols-xs-6 row-cols-md-6 row-cols-lg-12 row-cols-xl-12">
      <div class="col-md">
        <div class="d-flex justify-content-center">
          <div style="position: relative;">

            <div class="item-info">
              {% if plan.action == "Return" %}
                <div class="info-banner" id="return-info">Return Deadline {{item.return_deadline}} </div>
              {% endif %}
              {% if item.retailer %}
                <div class="info-banner" id="return-info">{{item.retailer.name}} </div>
                  {% if item.brand and (item.brand != item.retailer.name) %}
                    <div class="info-banner" id="return-info">{{item.brand}} </div>
                  {% endif %}
              {% endif %}
              <div class="info-banner" id="return-info">${{item.price}} </div>
            </div>

            <a href="/item/{{item.item_id}}">
              <img id="item-img" class="item-fluid" src="{{ item.images[0].cloudinary_url }}">
            </a>
          </div>
         </div>
      </div>
      <div style="width: 510px;">
        <div class="container" style="padding-left: 0.25rem; padding-right: 0.25rem;">
            
            <!-- GOOGLE MAPS INFORMATION - DO NOT REMOVE -->
            <p id="plan-action" style="display: none;">{{ plan.action }}</p>
            <p id="gmaps-key" style="display: none;">{{ gmaps_key }}</p>
            <p id="retailer-name" style="display: none;">{{ item.retailer.name }}</p>

          <div style="display: flex; flex-direction: column;">

            {% if plan.action == "Return" %}
            <h1 id="reflection-header" style="line-height: 0.9; margin: 0;">Return</h1>
              {% if (item.return_type == 'in store') or (item.return_type == 'both') %}
              <div id="map" style="align-self: center; height: 450px; width: 500px;"></div>
              <script src="/static/js/gmaps.js"></script>
              <script
                async src="https://maps.googleapis.com/maps/api/js?key={{gmaps_key}}&libraries=places&callback=initMap">
              </script>
              {% endif %}

              {% if (item.return_type == 'by mail') or (item.return_type == 'both') %}
              <form action="{{item.retailer.returns_url}}">
                <button type="submit" class="btn btn-primary" style="display: inline; margin-bottom: -0.75rem; margin-top: 0.65rem;">Request a return shipping label</button>
              </form>
              {% endif%}

            {% elif plan.action == "Resell" %}
              <div>
                <h1 id="reflection-header" style="line-height: 0.9; margin: 0;">Resell</h1>
              </div>
              <div>
                <div id="map" style="height: 450px; width: 500px; align-self: center;"></div>
                <script src="/static/js/gmaps.js"></script>
                <script
                  async src="https://maps.googleapis.com/maps/api/js?key={{gmaps_key}}&libraries=places&callback=initMap">
                </script>
              </div>
              <div style="margin-bottom: -.25rem; margin-top: 0.25rem;">
                <a class="resale-link" href="https://depop.com" target="_blank" ref="noopener noreferrer">
                  <img class="img-fluid resell-logo" src="/static/img/depop-logo-vector.png">
                </a>
                <a class="resale-link" href="https://ebay.com" target="_blank" ref="noopener noreferrer">
                  <img class="img-fluid resell-logo" src="/static/img/ebay-logo.svg.png">
                </a>
                <a class="resale-link" href="https://therealreal.com" target="_blank" ref="noopener noreferrer">
                  <img class="img-fluid resell-logo" src="/static/img/therealreal.png">
                </a>
                <a class="resale-link" href="https://craigslist.com" target="_blank" ref="noopener noreferrer">
                  <img class="img-fluid resell-logo" src="/static/img/craigslist-logo.png">
                </a>
                <a class="resale-link" href="https://etsy.com" target="_blank" ref="noopener noreferrer">
                  <img class="img-fluid resell-logo" src="/static/img/etsy-logo.svg.png">
                </a>
                <a class="resale-link" href="https://poshmark.com" target="_blank" ref="noopener noreferrer">
                  <img class="img-fluid resell-logo" src="/static/img/poshmark.png">
                </a>
              </div>

            {% elif plan.action == "Donate" %}
            <h1 id="reflection-header" style="line-height: 0.9; margin: 0;">Donate</h1>
              <div id="map" style="height: 450px; width: 500px; align-self: center;"></div>
              <script src="/static/js/gmaps.js"></script>
              <script
                async src="https://maps.googleapis.com/maps/api/js?key={{gmaps_key}}&libraries=places&callback=initMap">
              </script>

            {% elif plan.action == "Gift" %}
             <h1 id="reflection-header" style="line-height: 0.9; margin: 0;">Gift</h1>
              <div style="padding-top: 1.25rem;">
                <h4>Send Offer</h4>
                <div>
                  <form action="/item/{{item.item_id}}/send_offer" method="POST" enctype="multipart/form-data">
                    <div class="row">

                      <div class="col" style="padding-right: 0;">
                        <input type="text" class="form-control" name="recipient_name" placeholder="Recipient name" maxlength="30" required>
                      </div>

                      <div class="col">
                        <input type="email" class="form-control" name="recipient_email" placeholder="Recipient email" maxlength="100">
                      </div>
                    </div>
                    <label for="default" class="form-label" style="font-weight: 600; color: #495057; margin-bottom: 0;">Mindful Default Message</label>
                    <div class="row">
                      <div class="col" id="default" style="color: #767e86; border: 1px solid #ced4da; background-color: #fff; border-radius: 0.25rem; padding: 0.375rem 0.75rem; margin: 0rem 1rem 0.25rem 1rem;">
                          <!-- <p style="font-weight: 600; margin: 0;">Mindful Default Message</p> -->
                          <p style="margin: 0; padding-bottom: 0.5rem;">
                            Hello, this is Mindful. {{user.first_name}} has been reflecting on their recent purchase
                            from {{item.retailer.name}}, and has decided to give the item a second life. They would like
                            to gift you this item! Feel free to let {{user.first_name}} know if you would like to accept or decline.
                          </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label for="message" class="form-label" style="font-weight: 600; color: #495057; margin-bottom: 0;">Custom Message (Optional)</label>
                        <textarea id="message" class="form-control" name="message" maxlength="100" style="height: 15vh; padding-bottom: 0;"></textarea>
                      </div>

                    </div>
                    <label for="default" class="form-label" style="font-weight: 600; color: #495057; margin-bottom: 0;">Recipient Mobile Number (US)</label>
                    <div class="row">

                      <div class="col" style="padding-right: 0;">
                        <input type="tel" class="form-control" name="recipient_mobile" placeholder="123-456-7190" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                      </div>

                      <div class="col" style="display: flex;">
                        <button type="submit" class="btn btn-primary" style="display: flex; flex: 1; justify-content: center;">Send Gift Offer</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            {% endif %}

            <div class="btn-group plan-buttons" role="group" aria-label="Plan Buttons">
              <div class="col" style="display: flex; padding: 0;">
                <button class="btn btn-primary" style="display: flex; flex: 1; justify-content: center;">
                  <a href="/plan/{{plan.plan_id}}/remove_plan" style="color: white;">Remove Plan</a>
                </button>
              </div>
              <div class="col" style="display: flex; padding: 0;">
                <button class="btn btn-primary" style="display: flex; flex: 1; justify-content: center;">
                  <a href="/plan/{{plan.plan_id}}/complete_plan" style="color: white;">Complete Plan</a>
                </button>
              </div>
            </div>

            <form action="/item/{{item.item_id}}">
              <button type="submit" class="btn btn-primary" style="display: inline; margin-top: 0.3rem;">View Item Details</button>
            </form>

          </div>
        </div>
      </div>
    </div>  
  </div>
</div>
{% endblock %}