{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}

<div id="content-block" class="content-block container-fluid">
    <div class="d-flex justify-content-between">
        <div class="flex-column">
            <h4 class="dashboard-h4">YOU'VE BEEN MINDFUL, {{ user.first_name }}!</h4>
            <h1 id="dashboard-h1">Profile</h1>
        </div>
    </div>

    <!-- 

    FOR AFTER HACKBRIGHT: Implement display of user's purchase data
    
    <div id="user-stats">
        <p>Items Returned: </p>
        <p>Items Gifted: </p>
        <p>Items Donated: </p>
        <p>Items Sold: </p>
        <p>Resell Revenue: </p>
    </div> 
    
    -->
    <h4 class="dashboard-h4" style="padding-left: 0.5rem">PAST ITEMS</h4>
    {% if completed_items %}
        <div class="img-container">
            {% for item in completed_items %}         
                <div class="dashboard-img">
                    <div class="item-info">
                        {% if item.retailer %}
                            <div class="info-banner" id="return-info">{{item.retailer.name}} </div>
                            {% if item.brand and (item.brand != item.retailer.name) %}
                                <div class="info-banner" id="return-info">{{item.brand}} </div>
                            {% endif %}
                        {% endif %}
                        {% if item.plan %}
                            <div class="info-banner" id="status-info">{{item.plan[0].action}} Plan </div>
                        {% else%}
                            <div class="info-banner" id="status-info">No Plan </div>
                        {% endif %}
                        <div class="info-banner" id="status-info">{{item.price}}</div>
                    </div>
                    <img class="img-src" src="{{item.images[0].cloudinary_url}}" alt="">
                </div>
            {% endfor %}
            </div>
    {% else %}
        <p>Nothing to see here!</p>
    {% endif %}
</div>


{% endblock %}