{% extends 'base.html' %}

{% block title %} Profile {% endblock %}
<!-- Bootstrap Cards: https://getbootstrap.com/docs/4.3/components/card/ -->
<!-- Bootstrap Forms: https://getbootstrap.com/docs/4.3/components/forms/ -->
<!-- Bootstrap Modal: https://getbootstrap.com/docs/4.3/components/modal/ -->
<!-- Bootstrap Alerts: https://getbootstrap.com/docs/4.3/components/alerts/ -->
<!-- Bootstrap Progress: https://getbootstrap.com/docs/4.3/components/progress/ -->

{% block content %}

<h1>Profile</h1>
<h2>Hi, {{ user.first_name }}</h3>
<h4>Past Items</h4>
{% if completed_items %}
    {% for item in completed_items %}
        <ul>
            <li>Item: {{item}}</li>
            {% if item.plan %}
            <li>Plan: {{item.plan}}</li>
            {% endif %}
        </ul>
    {% endfor %}
{% else %}
    <p>Nothing to see here!</p>
{% endif %}

{% endblock %}